.container{
background: var(--white);
height: 4rem;
display: flex;
align-items: center;

padding:  1.5rem 4rem;
border-bottom: 1px solid var(--gray-100);

p{
    margin-left: 2rem;
}

.spanUppercase{

    margin-left: auto;
    text-transform: capitalize;
}
}

