.homepage {

    padding: 0  3rem;
    height: calc(100vh - 6.5rem);
    overflow-y: scroll;

    h2{
        margin-top: 3rem;
        margin-bottom: 2rem;
         
    }

    .lastest{
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            li{
                background: var(--white);
                border: 1px solid var(--gray-100);
                padding: 1.25rem;
                border-radius: 1.5rem;
                position: relative;

                display: flex;
                align-items: center;
                gap: 1rem;

                .details{
                a{
                    color: var(--purple-800);
                    text-decoration: none;
                    display: block ;
                    font-weight: 700;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                p{
                    font-size: 85%;
                    margin-top: 0.5rem;
                    
                }

                
                span{

                    display: inline-block;
                    margin-top: 0.875rem;
                    font-size: 80%;

                    &:last-child{
                        margin-right: 0.5rem;
                        padding-right: 0.5rem;
                        position: relative;
                        &::before{
                            content: "";
                        }
                    }

                }

            }
            }
        } 
    }
}